.App {
  text-align: center;
  justify-content: center;
}


.machine{
  width: 400px;
  height: 500px;
  padding: 30px;
  margin: 100px;
}

.blokje{
  width: 20px;
  height:20px;
  background-color: beige;
  margin: 4px;
}

.track{
  display: flex;
  flex-direction: row;
}
.sound{
  display: flex;
  flex-direction: column;
}

.beat{
  padding: 0px, 10px 0px, 10px;
  background-color: cyan;
}

.boom{
  background-color: darkmagenta;
}

.base{
  background-color: darkcyan;
}

.clicked{
  background-color: yellow;
}

